<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="src/test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Geocoder Arcgis test suite">
            <directory suffix="Test.php">src/test/GeocoderArcgis</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>src/test</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
